#appdirs
#asgiref
astroid
asttokens
backports.entry-points-selectable
black
#certifi
cfgv
#charset-normalizer
#click
#colorama
commonmark
#distlib
#Django
##----> django-doctor
dparse
#filelock
flake8
identify
#idna
#isort
#lazy-object-proxy
#mccabe
#mypy-extensions
#nodeenv
#packaging
#pathspec
#platformdirs
poetry-semver
pre-commit
pycodestyle
pyflakes
#Pygments
pylint
pyparsing
#pytz
#PyYAML
regex
#requests
rich
six
skjold
#sqlparse
toml
tomli
urllib3
virtualenv
wrapt
