appdirs==1.4.4
asgiref==3.3.2
astroid==2.6.2
asttokens==2.0.5
backports.entry-points-selectable==1.1.0
black==21.7b0
certifi==2022.12.7
cfgv==3.3.0
charset-normalizer==2.0.8
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
dill==0.3.7
distlib==0.3.7
Django==3.2.21
django-bootstrap-v5==1.0.11
dparse==0.6.3
filelock==3.12.3
flake8==6.1.0
identify==2.5.27
idna==3.4
isort==5.12.0
lazy-object-proxy==1.9.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==22.0
pathspec==0.11.2
platformdirs==3.10.0
poetry-semver==0.1.0
pre-commit==3.3.3
pycodestyle==2.11.0
pyflakes==3.1.0
Pygments==2.16.1
pylint==2.17.5
pyparsing==3.1.1
pytz==2023.3
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
rich==13.5.2
six==1.16.0
skjold==0.6.1
soupsieve==2.4.1
sqlparse==0.4.4
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
tzdata==2023.3
urllib3==2.0.4
virtualenv==20.24.4
wrapt==1.15.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
