<!-- cal/templates/cal/base.html -->
{% extends 'base.html' %}

{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Django Calendar App</title>
</head>
<body>

  {% block content %}
<h1>Room Booking Form</h1><hr>

<!-- <form method="post">
    {% csrf_token %}
    {{ form }}
  
    <button class="btn btn-success" type="submit">Go</button>
</form> -->
<form method="post">{% csrf_token %}
   <label for="id_meeting_title">Meeting title:</label><input type="text" name="meeting_title" maxlength="200" required="" id="id_meeting_title"><br>
<label for="id_description">Description:</label><textarea name="description" cols="40" rows="10" required="" id="id_description"></textarea><br>
<label for="id_Date">Date:</label><input type="date" name="Date" required="" id="id_Date"><br>



<label for="id_start_time">Start time:</label><input type="time" name="start_time" required="" id="id_start_time"><br>
<label for="id_end_time">End time:</label><input type="text" name="end_time" required="" id="id_end_time"><br><br>



<label for="id_phone">Phone:</label><input type="number" name="phone" id="id_phone"><br>
<label for="id_email">Email:</label><input type="text" name="email" maxlength="200" required="" id="id_email"><br>
<label for="id_Room">Room:</label><select name="Room" required="" id="id_Room"><br>
{%for Room in all_Rooms%}
<option value="{{Room.id}}" selected>{{Room}}</option>
{%endfor%}
</select><br>
<label for="id_isComplete">IsComplete:</label><input type="checkbox" name="isComplete" id="id_isComplete"><br>

  <button class="btn btn-success" type="submit">Go</button>
</form>

{{allreq}}

  {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  {% block script %}
  {% endblock %}
</body>
</html>