<!-- cal/templates/cal/base.html -->
{% extends 'base.html' %}

{% load static %}
<!doctype html>
<html lang="en">

<head>


  <title>Django Calendar App</title>
</head>
<body>

  {% block content %}
<h1> Pending Booking Request</h1>
<hr>
{% if pendingreq %}

<div class="form-row field-start_time">
            
            
  <!-- <div>
      
       
          <label class="required" for="id_start_time">Start time:</label>
          
              <input type="text" name="start_time" value="09:00:00" class="vTimeField" size="8" required="" id="id_start_time"><span class="datetimeshortcuts">&nbsp;<a href="#">Now</a>&nbsp;|&nbsp;<a href="#" id="clocklink0"><span class="clock-icon" title="Choose a Time"></span></a></span>
      
      
      
  </div> -->

</div>
<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid orange;
    padding: 10px;
    text-align: left;
  }
</style>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Start Date/Time</th>
    <th>End Date/Time</th>
    <th>Created Date</th>
    <th>Request Status</th>
  </tr>
  {% for st in pendingreq %}
 
<td>{{st.id}}</td>
  <td>{{st.title}}</td>
  <td>{{st.description}}</td>
  <td>{{st.start_time}}</td>
  <td>{{st.end_time}}</td>
  <td>{{st.created_date}}</td>
  <td>{{st.is_approved}}</td>

<tr>
{% endfor %}
</table>


{% else %}
<h1>No Data</h1>

{% endif %}
  {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
</div>

</body>
</html>