<!-- cal/templates/cal/base.html -->
{% extends 'base.html' %}

{% load static %}
<!doctype html>
<html lang="en">

<head>


  <title>Django Calendar App</title>
</head>
<body>

  {% block content %}
  <div class="clearfix">
    <span class="left m-2" style="font-size: 20px;">Wellcome, {{ request.user }}</span>
    <a class="btn btn-info right" href="{% url 'logout' %}"> Logout </a>
	<a class="btn btn-info right mr-2" href="{% url 'calendarapp:calendar' %}?{{ next_month }} "> Next Month >> </a>
    <a class="btn btn-info right mr-2" href="{% url 'calendarapp:calendar' %}?{{ prev_month }}"> << Previous Month </a>
    <a class="btn btn-info right mr-2" href="/add_event"> + Book Now</a>
    <a class="btn btn-info right mr-2" href="/pending_request_url"> Pending  Request </a>
    <a class="btn btn-info right mr-2" href="/approved_request_url"> Approved Request </a>
   
</div>
<h1> All Rooms</h1>
<hr>
{% if room_det %}


<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid orange;
    padding: 10px;
    text-align: left;
  }
</style>

<table>
  <tr>
    <th>ID</th>
    <th>Room</th>
    <th>Edit</th>
  </tr>
  {% for st in room_det %}
 
  <td>{{st.id}}</td>
  <td>{{st.Room}}</td>
  <td><a class="btn btn-info right mr-2" href="/room/edit/{{st.id}}" > Edit Room </a></td>
  <!-- <td><input hidden type="text" name="Room_id" value="{{st.pk}}"><button type="submit" class="btn btn-success">Approve</button></td> -->
 
<tr>
{% endfor %}
</table>



{% endif %}
  {% endblock %}


  
</div>

</body>
</html>


